.container {
  user-select: none;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .profile {
    background: url("/assets/profile.jpg");
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 850px;
    position: relative; 

    img.star {
      position: absolute;
      width: 90px; 
      height: auto; 
      animation: shine infinite alternate; 
      animation: shine infinite alternate;
    }
  }

}


@keyframes shine {
  0% {
    opacity: 0.5; // 시작 시 투명도
    transform: scale(1); // 시작 크기
  }
  100% {
    opacity: 1; // 끝에서 투명도
    transform: scale(1.2); // 커지기
  }
}
