.container {
  user-select: none;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .a {
    margin-top: -130px;
    display: flex;
    background-color: #ebf5fe;

    width: 900px;
    height: 500px;
    border: 1px solid black;
  }
}
