.container {
  position: fixed;
  top: 0;
  right: 0;

  width: 200px;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  padding: 0 50px;
  gap: 40px;

  a {
    display: flex;
    text-decoration: none;
    cursor: pointer;

    font-size: 19px;
    font-weight: 600;
    color: black;

    img {
      width: 30px;
      height: 30px;
      margin-right: 3px;
    }
  }
}
