.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 450px;
  height: 460px;

  color: black;
  
  .title {
    margin-top: 50px;
    margin-right: 60px;

    height: 200px;

    font-size: 26px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    text-align: center;

    p {
      margin-top: -11px;
      font-size: 23px;
    }

    .subTitle {
      margin-top: -70px;

      font-size: 15px;
      font-weight: 400;
      color: rgba(59, 58, 58, 0.411);
    }
  }

  .description {
    margin-top: 40px;
    margin-left: 140px;

    width: 300px;
    height: 200px;

    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    // text-align: end; //
  }
}
