.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 160px;
  margin-left: 20px;

  width: 450px;
  height: 460px;

  color: black;

  .title {
    width: 120%;
    height: 170px;

    margin-top: 50px;

    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    text-align: center;

    p {
      margin-top: -9px;
      font-size: 19px;
    }

    .subTitle {
      margin-top: -68px;

      font-size: 15px;
      font-weight: 400;
      color: rgba(59, 58, 58, 0.411);
    }
  }

  .description {
    margin-top: 20px;
    margin-left: 40%;

    width: 120%;
    height: 150px;

    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
