.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;


  margin-top: 50px;
  margin-left: 150px;
  // margin-bottom: 30px;

  .profile {
    width: 300px;
    height: 450px;

    // border-radius: 10px;
  }
}
