.container {
  display: flex;
  flex-direction: column;
  justify-content: center;



  // background-repeat: no-repeat; /* 반복하지 않도록 설정 */
  // height: 10px; /* 컨테이너의 높이 설정 */
  // width: 100%; /* 컨테이너의 너비 설정 */

  // margin-top: 50px;
  // margin-left: 140px;
  // margin-bottom: 50px;

  // .profile {
  //   width: 700px;
  //   height: 800px;

  //   // border-radius: 10px;
  // }
}
