.skill {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 230px;
  margin-top: -13px;
  padding: 30px;
  
  .box {
    display: flex;
    gap: 20px;

    img {
      margin-bottom: 15px;

      width: 60px;
      height: 60px;
    }
  }

  strong {
    margin: 0;

    font-size: 17px;
    text-align: center;
  }

  .smallText {
    .subTitle {
      margin-top: 10px;
      text-align: center;
    }

    .description {
      width: 250px;
      text-align: center;
      margin-top: -5px;

      p {
        margin-bottom: -10px;
        font-size: 14px;
      }
    }
  }
}
